/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato');
html {
    font-family: Lato, 'sans serif';
}

body {
    margin: 0;
}

/* Variables */
:root {
    --white: #f4f4f4;
    --dark: #333333;
    --orange: #ff7700;
    --hover: #444444;
}

/* Background */
.image-background {
    background-image: url("../assets/img/camp.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background: url("../assets/img/camp.jpeg") no-repeat center center; */
}

.dark-background {
    background-color: var(--dark);
    color: var(--white);
}

.light-background {
    background-color: var(--white);
    color: var(--dark);
}

.orange-background {
    background-color: var(--orange);
}

.orange-text {
    color: var(--orange);
}

/* Header */
header {
    height: 64px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 16px
}

h6 {
    font-size: 1.5em;
}

ul, li, h6, nav {
    display: inline;
}

ul {
    padding-left: 0;
}

li, a {
    text-decoration: none;
    color: inherit;
}

li:hover {
    color: var(--orange);
    background-color: var(--hover);
}

h2, h3 {
    margin-top: 0;
}

h3 + p {
    margin-bottom: 0;
}

p {
    font-size: 12px;
}

#first-article {
    border: 5px solid rgb(215, 226, 71);
    padding: 48px 18px;
    color: var(--white);
    height: auto;
    text-align: center;
}

#first-article h1 {
    font-size: 40px;
}

#first-article h1, p {
    margin: 16px 0;
    margin-top: 0;
}
#first-article p {
    font-size: 14px;
}

#second-article {
    border: 5px solid rgb(200, 71, 226);
    padding: 48px 32px 80px;
    text-align: center;
}

#second-article h2, p {
    margin: 16px 0;
    margin-top: 0;
}

.dark-button {
    background-color: var(--dark);
    color: var(--white);
}

.white-button {
    background-color: var(--white);
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
    text-align: center;
}

.flex > article {
    padding: 24px;
}



footer {
    height: 64px;
    text-align: center;
}

/* media queries */
@media screen and (max-width: 420px) {
    header {
        height: auto;
        flex-direction: column;
        padding: 0 8px;
    }

    li, a {
        width: 100%;
    }

    li {
        border: 1px solid red;
    }

    ul, li, h6, nav {
        margin: 6px 0;
        display: block;
        width: 100%;
        text-align: center;
    }

    h6 {
        font-size: 1em;
    }

    .flex {
        flex-direction: column;
    }
}
